$green-color: rgb(8, 247, 235);
$hover-color:rgb(197, 138, 21);
$dark-color: rgb(68, 68, 68);
$lighten: lighten( $dark-color, 50% );

body{
    font-family: 'Source Sans Pro', sans-serif;

    .black-line{

        background-color: $dark-color;

        .row{
            height: 45px;
        }

        a{
            color: $green-color;
            margin-right: 10px;

            &:hover{
                color:$hover-color!important;
            }
        }
    }

    .nav-link{
        &:hover{
            color: $hover-color!important;
        }
    }  

    .dropdown-item{
            &:hover{
                background-color: rgb(230, 230, 230);
            }
        }

    .green-line{
        border-bottom: 1px solid $green-color;
    }

    .black-box{
        background-color: $dark-color;

        p{
            color: rgb(177, 177, 177);
            font-size: 0.8em;
        }
        h4{
            color: $green-color;
        }

        h6{
            color: white;
        }
        .fas{
            font-size: 1.5em;
        }
    }

    .fas, .fab{
        color: $green-color;
        font-size: 1em;
        &:hover{
            color: $hover-color;
        }
    }

    .gallery{
       img{
            &:hover{
                background-color: $green-color;
            }
        }
    }

    .card-body{
        background-color: rgb(100, 100, 100);

            form{
                label{
                    color: white;
                }
            }
        }
       
     .navigation{
         background-color: rgba(255, 255, 255, 0.808);
     }   
}

    .about{

        background-color: $lighten;
        color: $dark-color;
            p{
                color: white;
            }
    }

